swagger: '2.0'
schemes:
  - https
host: api.communigator.co.uk
basePath: /
info:
  description: |

      # Introduction
      Welcome to the Communigator API! You can use our API to access the Communigator Marketing Suite API endpoints.
      
      We have language bindings in Shell, C#, and PHP! You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.
      
      This documentation is still being worked on.

  version: 0.1.1
  title: Communigator API Documentation
  contact:
    email: support@communigator.co.uk
    url: 'https://www.communigator.co.uk/contact-us/'
  #license:
  #  name: Apache 2.0
  #  url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'CommuniGator.png'
#externalDocs:
#  description: Find out how to create Github repo for your OpenAPI spec.
#  url: 'https://github.com/Rebilly/generator-openapi-repo'
produces:
  - application/json
  #- application/xml
consumes:
  - application/json
  #- application/xml
tags:
  - name: Gator SignOn
    description: Gator Single Signon endpoint
  - name: Gator Mail
    description: GatorMail API endpoint
securityDefinitions:
  client_auth:
    type: oauth2
    tokenUrl: 'https://oauth.communigator.co.uk/core/connect/token'
    flow: application
    scopes:
      'SsoPartnerApi': Allowed to create accounts
  client_application:
    type: oauth2
    flow: password
    tokenUrl: "https://oauth.communigator.co.uk/core/connect/token"
    scopes:
      openId: OpenId scope
      GatorMailApi: GatorMail scope
      offline_access: Offline scope
paths:
  /signon/partner/create:
    post:
      summary: Create Account
      description: This endpoint creates a Single Sign On account and a GatorLeads account. This method is only available to Communigator Partners.
      security:
        - client_auth:
            - SsoPartnerApi
      operationId: signon_create
      tags:
        - Gator SignOn
      consumes:
        - application/json
      parameters:
        - name: createAccount
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatorsignon_CreateAccount"
      responses:
        '200': 
          description: Account created
          schema:
            $ref: "#/definitions/gatorsignon_createResponse"
        '400':
          description: There was an issue with the submitted data
          schema:
            $ref: "#/definitions/model_error"
      
      x-code-samples:
        - lang: Shell
          source: |
            curl -X "POST" "https://api.communigator.co.uk/signon/partner/create" \
                 -H "Authorization: Bearer ***** Hidden credentials *****" \
                 -H "Content-Type: application/json; charset=utf-8" \
                 -d $'{
              "firstName": "Joe",
              "products": {
                "gatorLeads": {
                  "registerUpsell": {
                    "trackingQueue": true
                  },
                  "domain": "example.com"
                }
              },
              "lastName": "Blogs",
              "email": "job.blogs@example",
              "companyName": "Example",
              "contactNumber": "012344422333",
              "activate": true,
              "sendEmail": false
            }'
        - lang: 'C#'
          source:  |
            using System;
            using System.Threading.Tasks; 
            using System.Net; 
            using System.IO; 
            using System.Text; 
             
            namespace MyNamespace { 
            	public class MyActivity { 
            		  
            		private async Task<bool> create () { 
              
            			string url = "https://api.communigator.co.uk/signon/partner/create"; 
              
            			HttpWebRequest request = (HttpWebRequest)WebRequest.Create (new Uri(url)); 
            			request.ContentType = "application/json; charset=utf-8"; 
            			request.Headers.Add("Authorization", "Bearer ***** Hidden credentials *****"); 
            			 
            			request.Method = "POST"; 
            			 
            			string postData = "{\"firstName\":\"Joe\",\"lastName\":\"Blogs\",\"email\":\"job.blogs@example\",\"companyName\":\"Example\",\"contactNumber\":\"012344422333\",\"sendEmail\":false,\"activate\":true,\"products\":{\"gatorLeads\":{\"domain\":\"example.com\",\"registerUpsell\":{\"trackingQueue\":true}}}}"; 
            			ASCIIEncoding encoding = new ASCIIEncoding (); 
            			byte[] byte1 = encoding.GetBytes (postData); 
            			request.ContentLength = byte1.Length; 
            			Stream newStream = request.GetRequestStream (); 
            			newStream.Write (byte1, 0, byte1.Length); 
            			newStream.Close (); 
            			 
            			using (WebResponse response = await request.GetResponseAsync ()) { 
            				using (Stream stream = response.GetResponseStream ()) { 
            					return true; 
            					//process the response 
            				} 
            			} 
            		} 
            	} 
            } 

  /mail/{landingZone}/campaign/{page}/{take}:
    get:
      summary: List all campaigns
      description: Gets Paged List of `Campaign` objects.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getCampaignList
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many campaigns to get per page
          format: int32
      responses:
        "200":
          description: List of campaigns
          schema:
            $ref: "#/definitions/gatormail_pagedCampaign"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/campaign:
    post:
      summary: Adds a new campaign
      description: Adds a new campaign
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_addCampaign
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaign
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_campaign"
            
      responses:
        "200":
          description: OK
          schema: 
            $ref: "#/definitions/gatormail_campaign"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

    patch:
      summary: Updates a campaign
      description: Updates a campaign
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_updateCampaign
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaign
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_campaign"
      responses:
        200:
          description: OK
          schema: 
            $ref: "#/definitions/gatormail_campaign"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/group:
    post:
      summary: Add a new group
      description: Add a new group
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_addGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: group
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatormail_group"
          
      responses:
        "200":
          description: OK
          schema:
             $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
             
    patch:
      summary: Update a group
      description: Update a group
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_updateGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: group
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatormail_group"
          
      responses:
        "200":
          description: OK
          schema:
             $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/group/{groupId}:            
    delete:
      summary: Delete a group
      description: Delete a group
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_deleteGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: description
          required: true
          type: integer
          format: int32
          
          
      responses:
        "200":
          description: OK
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
          
  /mail/{landingZone}/group/contact/{contactId}:            
    get:
      summary: Get Groups for Contact
      description: Get Groups for Contact
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_contactGroups
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: contactId
          in: path
          description: description
          required: true
          type: integer
          format: int32
                    
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
              
  /mail/{landingZone}/group/{groupId}/contact/{contactId}:            
    patch:
      summary: Add contact to a group
      description: Add contact to a group
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_addContactToGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: description
          required: true
          type: integer
          format: int32
        - name: contactId
          in: path
          description: description
          required: true
          type: integer
          format: int32
          
          
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
      
    delete:
      summary: Remove contact from a group
      description: Remove contact from a group
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_deleteContactFromGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: description
          required: true
          type: integer
          format: int32
        - name: contactId
          in: path
          description: description
          required: true
          type: integer
          format: int32
          
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/contact/{email}:
    get:
      summary: List all contacts by email
      description: Gets List of `Email` objects with the supplied email address
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getContactsEmail
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: email
          in: path
          type: string
          required: true
          description: the email address for the contacts
          
      responses:
        "200":
          description: List of contacts that match the email address supplied
          schema:
            $ref: "#/definitions/gatormail_contact"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
            
  /mail/{landingZone}/integration/requests:
    get:
      summary: Get Integration Requests
      description: Returns all requests made by GatorMail users for actions it wishes the integration to perform
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getIntegrationRequests
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
          
      responses:
        "200":
          description: Returns all requests made by GatorMail users for actions it wishes the integration to perform
          schema:
              type: array
              items:
                $ref: "#/definitions/gatormail_integrationRequests" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/integration/requests/{request}:
    patch:
      summary: Marks a request satisfied.
      description: Marks a request made by a GatorMail user as satisfied.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getIntegrationRequestSatisfied
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: request
          in: path
          description: the request to mark satisfied
          required: true
          type: string
          enum:
            - schemamappingsMappingsPublished
            - schemamappingsRequested

      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/schemamappings:
    get:
      summary: Returns the user generated schema mappings.
      description: Returns the user generated schema mappings. Support is provided though the use of the linkedEntity, entityLinkAttribute, linkedEntityLinkAttribute columns to define a one to one relationship between two entities (e.g contact -> account to retrieve an account name).
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getSchema
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string

      responses:
        "200":
          description: Ok
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_schema"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
          
    delete:
      summary: Clears all schema entities and attributes.
      description: Clears all schema entities and attributes.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_deleteSchema
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string

      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/schemamappings/entity:
    post:
      summary: Creates a schema entity record.
      description: Creates a schema entity record.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_postSchemaEntity
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: entity
          in: body
          description: the schema entity to add
          required: true
          schema:
            $ref: "#/definitions/gatormail_schemaEntity" 

      responses:
        "200":
          description: Ok
        "409":
          description: Schema Entity Attribute already exists
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/schemamappings/attribute:
    patch:
      summary: Creates a schema entity attribute record.
      description: Creates a schema entity attribute record.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_postSchemaAttribute
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: attribute
          in: body
          description: the schema attribute to add
          required: true
          schema:
            $ref: "#/definitions/gatormail_schemaAttribute" 

      responses:
        "200":
          description: Ok
        "404":
          description: Schema Entity does not exist
        "409":
          description: Schema Entity Attribute already exists
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/datafeed:
    get:
      summary: Returns a batch of data feed records.
      description: Returns a batch of data feed records.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getDatafeed
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
          
      responses:
        "200":
          description: Returns data feed configuration options.
          schema:
            $ref: "#/definitions/gatormail_datafeed" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/datafeed/{batchIdentifier}:
    patch:
      summary: Marks a feed as processed.
      description: Marks a feed as processed.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getDatafeedBatchIdentifier
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: batchIdentifier
          in: path
          description: the batchIdentifier of the feed
          required: true
          type: string
          
      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/datafeed/options:
    get:
      summary: Gets the data feed configuration options.
      description: Gets the data feed configuration options.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getDatafeedOptions
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
          
      responses:
        "200":
          description: Returns data feed configuration options.
          schema:
            $ref: "#/definitions/gatormail_datafeedOptions" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

    post:
      summary: Sets the data feed configuration options.
      description: Sets the data feed configuration options.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_postDatafeedOptions
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: options
          in: body
          description: The data feed options to set
          required: true
          schema:
            $ref: "#/definitions/gatormail_datafeedOptions" 
          
      responses:
        "200":
          description: Returns data feed configuration options.
          schema:
            $ref: "#/definitions/gatormail_datafeedOptions" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/events/{eventId}:
    get:
      summary: Gets event for the given id.
      description: Gets event for the given id.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getEventById
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: eventId
          in: path
          description: the id of the event
          required: true
          type: integer
          format: int64
          
      responses:
        "200":
          description: Returns the requested event
          schema:
            $ref: "#/definitions/gatormail_event"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/events/{page}/{take}:
    get:
      summary: Get all events
      description: Gets all the events
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_getEventPaged
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          description: the page to retrive
          required: true
          type: integer
          format: int64
        - name: take
          in: path
          description: how many events to retrive per page
          required: true
          type: integer
          format: int64
          
      responses:
        "200":
          description: Returns the requested event
          schema:
            $ref: "#/definitions/gatormail_pagedEvent"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/events:
    post:
      summary: Creates an event management event
      description: Creates an event management event, associating it with an event entity in the CRM.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_postEvent
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: event
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_event"
          
      responses:
        "200":
          description: Returns the created event.
          schema:
            $ref: "#/definitions/gatormail_event"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/log/error:
    post:
      summary: Creates error record
      description: Creates an record in the integration error table or updates if a matching error already exists.
      security:
        - client_application:
            - openId
            - GatorMailApi
            - offline_access
      operationId: gatormail_postLogError
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: log
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_errorLog"
          
      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

definitions:

  model_error:
    type: object
    properties:
      message:
        type: string
        description: error message. (normally "The request is invalid.")
      modelState:
        type: array
        items:
          $ref: "#/definitions/model_errorState"
    example:
      message: The request is invalid.
      modelState:
        products.gatorLeads.Email:
        - The Email field is not a valid e-mail address.
        email:
        - Unfortunately, you cannot register with this domain. Error checking domain. Please
          make sure you use your corporate email address. If you need further assistance
          please contact a support representative.

  model_errorState:
    required:
      - default
    properties:
      default:
        type: string
      additionalProperties:
        type: array
        items:
          type: string
  
  
  gatorsignon_CreateAccount:
    type: object
    required:
      - firstName
      - lastName
      - email
      - companyName
      - contactNumber
      - products
    properties:
      firstName:
        type: string
        description: Forename of the user to add
      lastName:
        type: string
        description: Surname of the user to add
      email:
        type: string
        format: email
        description: Email Address of the user to add (this is the same as the login username). **Can't be a free email provider and domain must exist with MX records**
      companyName:
        type: string
        description: The name of the company that the user belongs too. This is used to group users into the same company
      contactNumber: 
        type: string
        description: The contact number for the user
      sendEmail:
        type: boolean
        description: Should any emails be sent to the user on creation. *e.g. activation emails, registraction emails*
      activate:
        type: boolean
        description: Should the user account be activated
      products:
        $ref: "#/definitions/gatorsignon_products"
    example:
      firstName: Joe
      lastName: Blogs
      email: joe.blogs@example.com
      companyName: Example Ltd
      contactNumber: 020 2349455
      activate: true
      products:
        gatorLeads:
          domain: example.com
          registerUpsell:
            trackingQueue: true
      
      
  gatorsignon_products:
    type: object
    required:
      - gatorLeads
    description: The products that can be created
    properties:
      gatorLeads:
        $ref: "#/definitions/gatorsignon_gatorLeads"
        
  gatorsignon_gatorLeads:
    type: object
    required:
      - domain
      - registerUpsell
    description: The GatorLead details
    properties:
      domain: 
        type: string
        description: The domain to be tracked without the schema
      registerUpsell: 
        $ref: "#/definitions/gatorsignon_registerUpsell"
    example:
      domain: example.com
      
  gatorsignon_registerUpsell:
    type: object
    properties:
      trackingQueue: 
        type: boolean
        description: Should the tracking queue be enabled
    example:
      trackingQueue: true
  
  gatorsignon_createResponse:
    type: object
    properties:
      isNewUser:
        type: boolean
        description: is the user a new user, or existing
      registrationEmailSent:
        type: boolean
        description: was a registration email sent
      password:
        type: string
        description: the auto generated password. If the user already existed this will be blank
      gatorLeadsDetails:
        $ref: "#/definitions/gatorsignon_gatorLeadsDetails"
    example:
      isNewUser: true
      registrationEmailSent: false
      password: "<bU%=]nViC<BViI"
      gatorLeadsDetails:
        registrationEmailSent: true
        passwordResetSent: false
        isNewUser: true
        clientDetails:
          id: d585c216-af40-437d-8a20-d9ba9004e7f9
          name: Leasoftware Sample (sample3.leasoftware.net)
          accountExpiry: 
          trackingScript: "<script data-cfasync='false' type='text/javascript' defer=''
            async='' src='http://test-t.gatorleads.co.uk/Scripts/d585c216-af40-437d-8a20-d9ba9004e7f9.js'></script>"
          trackingScriptSsl: "<script data-cfasync='false' type='text/javascript' defer=''
            async='' src='https://test-t.gatorleads.co.uk/Scripts/ssl/d585c216-af40-437d-8a20-d9ba9004e7f9.js'></script>"
          domains:
          - sample3.leasoftware.net

        
  gatorsignon_gatorLeadsDetails:
    type: object
    properties:
      registrationEmailSent:
        type: boolean
        description: was the GatorLeads registration email sent
      isNewUser:
        type: boolean
        description: is this a new GatorLeads user. If it was an existing user, that user will now be linked to Gator Single Signon
      clientDetails:
        $ref: "#/definitions/gatorsignon_gatorLeadsClient"
      
  gatorsignon_gatorLeadsClient:
    type: object
    properties:
      id:
        type: string
        description: this id of the client. **This is a GUID**
      name:
        type: string
        description: name of the client created in GatorLeads
      accountExpiry:
        type: string
      trackingScript:
        type: string
        description: this is the tracking script to use for http
      trackingScriptSsl:
        type: string
        description: this is the tracking script to use for https
      domains:
        type: array
        items:
          type: string
        description: the registered domains for this client
        

  gatormail_datafeed:
    type: object
    properties:
      emailOpen:
        type: array
        items:
          $ref: "#/definitions/gatormail_emailOpen"
      landingZoneHit:
        type: array
        items:
          $ref: "#/definitions/gatormail_landingZoneHit"
      surveyCompleted:
        type: array
        items:
          $ref: "#/definitions/gatormail_surveyCompleted"
      download:
        type: array
        items:
          $ref: "#/definitions/gatormail_download"
      webHit:
        type: array
        items:
          $ref: "#/definitions/gatormail_webHit"
      unsubscribe:
        type: array
        items:
          $ref: "#/definitions/gatormail_unsubscribe"
      emailSent:
        type: array
        items:
          $ref: "#/definitions/gatormail_emailSent"
      surveyAnswer:
        type: array
        items:
          $ref: "#/definitions/gatormail_surveyAnswer"
      eventBooked:
        type: array
        items:
          $ref: "#/definitions/gatormail_eventBooked"
      eventAttended:
        type: array
        items:
          $ref: "#/definitions/gatormail_eventAttended"
      bounces:
        type: array
        items:
          $ref: "#/definitions/gatormail_bounces"
      sendToAFriend:
        type: array
        items:
          $ref: "#/definitions/gatormail_sendToAFriend"
      eventCancelled:
        type: array
        items:
          $ref: "#/definitions/gatormail_eventCancelled"
      newLead:
        type: array
        items:
          $ref: "#/definitions/gatormail_newLead"
      entityUpdate:
        type: array
        items:
          $ref: "#/definitions/gatormail_entityUpdate"
      campaignStatistics:
        type: array
        items:
          $ref: "#/definitions/gatormail_campaignStatistics"
      batchIdentifier:
        type: array
        items:
          type: string
          description: id of the feed pulled, this is a GUID


  gatormail_emailOpen:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string

  gatormail_landingZoneHit:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string

  gatormail_surveyCompleted:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_download:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_webHit:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_unsubscribe:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string

  gatormail_emailSent:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_surveyAnswer:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      surveryId:
        type: integer
        format: int64
      surveyQuestion:
        type: string
      surveyAnswer:
        type: string
        
  gatormail_eventBooked:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_eventAttended:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_bounces:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_sendToAFriend:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_eventCancelled:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_newLead:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_entityUpdate:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      crmCampaignId:
        type: string
      url:
        type: string
      fieldValue:
        type: string 
      mappingSet:
        type: string
      gatorMailAttribute:
        type: string
      entity:
        type: string
      entityAttribute:
        type: string
      entityAttributeDataType:
        type: string
      linkedEntity:
        type: string
      entityLinkAttribute:
        type: string
      linkedEntityLinkAttribute:
        type: string

  gatormail_campaignStatistics:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      dateInitiated:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      refreshDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      refreshPeriod:
        format: int32
        type: integer
      countTotalSend:
        format: int32
        type: integer
      countInitialSend:
        format: int32
        type: integer
      countFollowupSend:
        format: int32
        type: integer
      countTriggeredSend:
        format: int32
        type: integer
      countReferralsSend:
        format: int32
        type: integer 
      countTotalUniqueUserSend:
        format: int32
        type: integer
      countTotalUndelivered:
        format: int32
        type: integer
      countEmailsFailedToSend:
        format: int32
        type: integer
      countTotalUniqueUserUndelivered:
        format: int32
        type: integer 
      countDelivered:
        format: int32
        type: integer 
      countTotalDelivered:
        format: int32
        type: integer
      countTotalUniqueUserDelivered:
        format: int32
        type: integer
      countTotalOpens:
        format: int32
        type: integer 
      countTotalEmailsNotOpened:
        format: int32
        type: integer
      countTotalUniqueUserNotOpened:
        format: int32
        type: integer 
      countTotalUniqueUserOpens:
        format: int32
        type: integer 
      countTotalUniqueUserMobileOpens:
        format: int32
        type: integer
      countTotalClicks:
        format: int32
        type: integer
      countLandingZoneClicks:
        format: int32
        type: integer 
      countWebDownloadClicks:
        format: int32
        type: integer 
      countSurveyClicks:
        format: int32
        type: integer 
      countCalendarAppointments:
        format: int32
        type: integer 
      countTotalUniqueUserClicks:
        format: int32
        type: integer 
      countTotalUniqueUserMobileClicks:
        format: int32
        type: integer 
      countSendToAFriend:
        format: int32
        type: integer
      countUnsubscribes:
        format: int32
        type: integer
      countComplaints:
        format: int32
        type: integer
      countOtherBounces:
        format: int32
        type: integer
      countAutoresponder:
        format: int32
        type: integer
      countEmailRating:
        format: int32
        type: integer
      clickToOpenRate:
        format: int32
        type: integer
      countSocial:
        format: int32
        type: integer 
      countWebHits:
        format: int32
        type: integer

  gatormail_errorLog:
    type: object
    required:
    - error
    - createdDate
    properties:
      error:
        type: string
      createdDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"

  gatormail_errorModel:
    type: object
    required:
    - message
    properties:
      message:
        type: string


  gatormail_campaignType:
    type: object
    enum: [
        "Static",
        "RefreshRecurring",
        "RefreshNonRecurring",
        "StaticRecurring",
        "Followup"
        ]

  gatormail_integrationRequests:
    type: object
    enum: [
      "SchemaMappingsPublished",
      "SchemaRequested"
    ]
  
  gatormail_event:
    type: object
    required:
      - name
      - description
      - title
      - startDate
      - endDate
      - crmId
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      description:
        type: string
      title:
        type: string 
      startDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      endDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      crmId:
        type: string

  gatormail_pagedEvent:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/gatormail_event"
      pageCount:
        format: int32
        type: integer
      totalItemCount:
        format: int32
        type: integer
      pageIndex:
        format: int32
        type: integer
      pageNumber:
        format: int32
        type: integer
      pageSize:
        format: int32
        type: integer
      hasPreviousPage:
        type: boolean
      hasNextPage:
        type: boolean
      isFirstPage:
        type: boolean
      isLastPage:
        type: boolean
      firstItemOnPage:
        format: int32
        type: integer
      lastItemOnPage:
        format: int32
        type: integer

  gatormail_datafeedOptions:
    type: object
    required:
      - emailOpen
      - landingZoneHit
      - surveyCompleted
      - download
      - webHit
      - unsubscribe
      - emailSent
      - surveyAnswer
      - eventBooked
      - eventAttended
      - bounces
      - sendToAFriend
      - eventCancelled
      - newLead
    properties:
      emailOpen: 
        type: boolean
      landingZoneHit: 
        type: boolean
      surveyCompleted: 
        type: boolean
      download: 
        type: boolean
      webHit: 
        type: boolean
      unsubscribe: 
        type: boolean
      emailSent: 
        type: boolean
      surveyAnswer: 
        type: boolean
      eventBooked: 
        type: boolean
      eventAttended: 
        type: boolean
      bounces: 
        type: boolean
      sendToAFriend: 
        type: boolean
      eventCancelled: 
        type: boolean
      newLead: 
        type: boolean


  gatormail_schema:
    type: object
    required:
    - mappingSet
    - gatorMailAttribute
    - entity
    - entityAttribute
    - entityAttributeDataType
    - bidirectionalSyncEnabled
    properties:
      mappingSet: 
        type: string
        description: The name of the mapping set the mappings are associated with (the response may return numerous mapping sets (lead and contact for example)).
      gatorMailAttribute: 
        type: string
        description: The attribute in GatorMail a mapping relates to.
      entity: 
        type: string
        description: The CRM entity the mapping relates to.
      entityAttribute: 
        type: string
        description: The CRM entity attribute the mapping relates to.
      entityAttributeDataType: 
        type: string
        description: The data type for the entity attribute.
      linkedEntity: 
        type: string
        description: A secondary entity the primary entity [entity] is linked to.
      entityLinkAttribute: 
        type: string
        description: The attribute in the primary entity [entity] used in the link to the secondary entity [linkedEntity].
      linkedEntityLinkAttribute: 
        type: string
        description: The attribute in the secondary entity [linkedEntityLinkAttribute] used in the link to the primary entity [entity].
      bidirectionalSyncEnabled: 
        type: boolean
        description: Determines whether data is passed from the CRM to GatorMail and back or just up to GatorMail.

  gatormail_schemaAttribute:
    type: object
    required:
      - entityName
      - attributeName
      - dataType
    properties:
      entityName:
        type: string
      attributeName:
        type: string
      dataType:
        type: string
        
  gatormail_schemaEntity:
    type: object
    required:
      - name
    properties:
      name:
        type: string
 

  gatormail_campaign:
    type: object
    required:
      - name
      - type
      - startDate
      - endDate
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      crmId:
        type: string
      startDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      endDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      created:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      type:
        $ref: "#/definitions/gatormail_campaignType"
      group:
        $ref: "#/definitions/gatormail_group"
        
  gatormail_pagedCampaign:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/gatormail_campaign"
      pageCount:
        format: int32
        type: integer
      totalItemCount:
        format: int32
        type: integer
      pageIndex:
        format: int32
        type: integer
      pageNumber:
        format: int32
        type: integer
      pageSize:
        format: int32
        type: integer
      hasPreviousPage:
        type: boolean
      hasNextPage:
        type: boolean
      isFirstPage:
        type: boolean
      isLastPage:
        type: boolean
      firstItemOnPage:
        format: int32
        type: integer
      lastItemOnPage:
        format: int32
        type: integer
        
  gatormail_group:
    type: object
    required:
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      description:
        type: string
      created:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
  
  gatormail_address:
    type: object
    properties:
      address1:
        type: string
      address2:
        type: string
      address3:
        type: string
      postcode:
        type: string
      phone:
        type: string
      fax:
        type: string
      mobile:
        type: string
  
  gatormail_gatorLeadContact:
    type: object
    properties:
      id:
        type: string
      permalink:
        type: string
      totalScore:
        type: integer
        format: int64
      lastVisit:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      leadBand:
        type: string
      department:
        type: string
      role:
        type: string

  gatormail_gatorLeadCompany:
    type: object
    properties:
      id:
        type: string
      permalink:
        type: string
      totalScore:
        type: integer
        format: int64
      lastVisit:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      leadBand:
        type: string
      industry:
        type: string
      sizeBand:
        type: string
      size:
        type: integer
        format: int64
      location:
        type: string
  
  gatormail_businessObject:
    type: object
    required:
      - default
    properties:
      default:
        type: string
      additionalProperties:
        type: string
        
  gatormail_contact:
    type: object
    required:
      - email
    properties:
      id:
        type: integer
        format: int64
      email:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      title:
        type: string
      positionInCompany:
        type: string
      companyName:
        type: string
      crmCompanyId:
        type: string
      crmContactId:
        type: string
      sendHtml:
        type: integer
        format: int32
      optIn:
        type: string
      bounceCount:
        type: integer
        format: int32
      undeliverable:
        type: string
      undeliverableDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      address:
        $ref: "#/definitions/gatormail_address"
      lastValidated:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      crmExtendedDetail:
        type: string
      mostRecentBounceReason:
        type: string
      mostRecentBounceDate:
        type: string
      crmContactType:
        type: string
      contactCreatedDt:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      contactUpdatedDt:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      contactPassword:
        type: string
      country:
        type: string
      region:
        type: string
      industry:
        type: string
      department:
        type: string
      turnOver:
        type: string
      numberOfEmployees:
        type: string
      gatorLeadsContact:
        $ref: "#/definitions/gatormail_gatorLeadContact"
      gatorLeadCompany:
        $ref: "#/definitions/gatormail_gatorLeadCompany"
      mostRecentEmailSentDate:
        type: string
      mostRecentEmailOpenDate:
        type: string
      mostRecentEngagementDate:
        type: string
      confirmedOptedIn:
        type: string
      businessObjects:
        description: "The business object name in GatorMail"
        type: array
        items:
          $ref: "#/definitions/gatormail_businessObject"
 
