swagger: '2.0'
schemes:
  - https
host: api.communigator.co.uk
basePath: /
info:
  description: |

      # Introduction
      Welcome to the Communigator API! You can use our API to access the Communigator Marketing Suite API endpoints.
      
      We have language bindings in Shell, C#, and PHP! You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.
      
      This documentation is still being worked on.

  version: 0.5.1
  title: Communigator API Documentation
  contact:
    email: support@communigator.co.uk
    url: 'https://www.communigator.co.uk/contact-us/'
  #license:
  #  name: Apache 2.0
  #  url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'CommuniGator.png'
#externalDocs:
#  description: Find out how to create Github repo for your OpenAPI spec.
#  url: 'https://github.com/Rebilly/generator-openapi-repo'
produces:
  - application/json
  #- application/xml
consumes:
  - application/json
  #- application/xml
tags:
  - name: Gator SignOn
    description: Gator Single Signon endpoint
  - name: Gator Mail
    description: GatorMail API endpoint
  - name: Gator Leads
    description: GatorLeads API endpoint
securityDefinitions:
  client_auth:
    type: oauth2
    tokenUrl: 'https://oauth.communigator.co.uk/core/connect/token'
    flow: application
    scopes:
      'SsoPartnerApi': Allowed to create accounts
            
  client_application:
    type: oauth2
    flow: password
    tokenUrl: "https://oauth.communigator.co.uk/core/connect/token"
    scopes:
      openid: OpenId scope
      GatorMailApi: GatorMail scope
      GatorLeadApi: GatorLead scope
      offline_access: Offline scope
paths:
  /signon/partner/create:
    post:
      summary: Create Account
      description: This endpoint creates a Single Sign On account and a GatorLeads account. This method is only available to Communigator Partners.
      security:
        - client_auth:
            - SsoPartnerApi
      operationId: signon_create
      tags:
        - Gator SignOn
      consumes:
        - application/json
      parameters:
        - name: createAccount
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatorsignon_CreateAccount"
      responses:
        '200': 
          description: Account created
          schema:
            $ref: "#/definitions/gatorsignon_createResponse"
        '400':
          description: There was an issue with the submitted data
          schema:
            $ref: "#/definitions/model_error"
      
      x-code-samples:
        - lang: Shell
          source: |
            curl -X "POST" "https://api.communigator.co.uk/signon/partner/create" \
                 -H "Authorization: Bearer ***** Hidden credentials *****" \
                 -H "Content-Type: application/json; charset=utf-8" \
                 -d $'{
              "firstName": "Joe",
              "products": {
                "gatorLeads": {
                  "registerUpsell": {
                    "trackingQueue": true
                  },
                  "domain": "example.com"
                }
              },
              "lastName": "Blogs",
              "email": "job.blogs@example",
              "companyName": "Example",
              "contactNumber": "012344422333",
              "activate": true,
              "sendEmail": false
            }'
        - lang: 'C#'
          source:  |
            using System;
            using System.Threading.Tasks; 
            using System.Net; 
            using System.IO; 
            using System.Text; 
             
            namespace MyNamespace { 
            	public class MyActivity { 
            		  
            		private async Task<bool> create () { 
              
            			string url = "https://api.communigator.co.uk/signon/partner/create"; 
              
            			HttpWebRequest request = (HttpWebRequest)WebRequest.Create (new Uri(url)); 
            			request.ContentType = "application/json; charset=utf-8"; 
            			request.Headers.Add("Authorization", "Bearer ***** Hidden credentials *****"); 
            			 
            			request.Method = "POST"; 
            			 
            			string postData = "{\"firstName\":\"Joe\",\"lastName\":\"Blogs\",\"email\":\"job.blogs@example\",\"companyName\":\"Example\",\"contactNumber\":\"012344422333\",\"sendEmail\":false,\"activate\":true,\"products\":{\"gatorLeads\":{\"domain\":\"example.com\",\"registerUpsell\":{\"trackingQueue\":true}}}}"; 
            			ASCIIEncoding encoding = new ASCIIEncoding (); 
            			byte[] byte1 = encoding.GetBytes (postData); 
            			request.ContentLength = byte1.Length; 
            			Stream newStream = request.GetRequestStream (); 
            			newStream.Write (byte1, 0, byte1.Length); 
            			newStream.Close (); 
            			 
            			using (WebResponse response = await request.GetResponseAsync ()) { 
            				using (Stream stream = response.GetResponseStream ()) { 
            					return true; 
            					//process the response 
            				} 
            			} 
            		} 
            	} 
            } 

  /mail/{landingZone}/campaign/{page}/{take}:
    get:
      summary: List all campaigns
      description: Gets Paged List of `Campaign` objects.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getCampaignList
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many campaigns to get per page
          format: int32
      responses:
        "200":
          description: List of campaigns
          schema:
            $ref: "#/definitions/gatormail_pagedCampaign"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/campaign:
    post:
      summary: Adds a new campaign
      description: Adds a new campaign
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_addCampaign
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaign
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_campaign"
            
      responses:
        "200":
          description: OK
          schema: 
            $ref: "#/definitions/gatormail_campaign"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

    patch:
      summary: Updates a campaign
      description: Updates a campaign
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_updateCampaign
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaign
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_campaign"
            
      responses:
        200:
          description: OK
          schema: 
            $ref: "#/definitions/gatormail_campaign"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/campaign/{campaignId}/initiate:
    post:
      summary: Initiate Campaign
      description: Initiate Campaign
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_initiateCampaign
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaignId
          in: path
          description: the id of the campaign to initiate
          required: true
          type: integer
          
      responses:
        200:
          description: OK
          schema: 
            $ref: "#/definitions/gatormail_campaignInitiate"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/history/{campaignId}/opens/{page}/{take}?orderBy&orderDirection:
    get:
      summary: List all campaign opens
      description: Gets a paged list of campaign opens.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getCampaignOpenList
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaignId
          in: path
          description: the id of the campaign to retrieve opens for
          required: true
          type: string          
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many campaign opens to get per page
          format: int32
        - name: orderBy
          in: query
          type: string
          required: false
          description: an attribute to order the results by (defaults to date, but can be any contact attribute)
          format: string
        - name: orderDirection
          in: query
          type: string
          required: false
          description: the direction to order the results in (asc or desc)
          format: string          
      responses:
        "200":
          description: List of campaign opens
          schema:
            $ref: "#/definitions/gatormail_pagedCampaignOpen"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'  
            
  /mail/{landingZone}/history/{campaignId}/bounces/{page}/{take}?orderBy&orderDirection:
    get:
      summary: List all campaign bounces
      description: Gets a paged list of campaign bounces.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getCampaignBounceList
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: campaignId
          in: path
          description: the id of the campaign to retrieve bounces for
          required: true
          type: string          
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many campaign bounces to get per page
          format: int32
        - name: orderBy
          in: query
          type: string
          required: false
          description: an attribute to order the results by (defaults to date, but can be any contact attribute)
          format: string
        - name: orderDirection
          in: query
          type: string
          required: false
          description: the direction to order the results in (asc or desc)
          format: string          
      responses:
        "200":
          description: List of campaign bounces
          schema:
            $ref: "#/definitions/gatormail_pagedCampaignBounce"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'              
  
  /mail/{landingZone}/group/{page}/{take}:
    get:
      summary: Get a list of groups
      description: Get a Paged list of all groups
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getGroups
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          description: the page of contacts to retrieve
          required: true
          type: integer
          format: int32          
        - name: take
          in: path
          description: the count of records to retrieve
          required: true
          type: integer
          format: int32 
          
      responses:
        "200":
          description: OK
          schema:
             $ref: "#/definitions/gatormail_pagedGroup"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/group:
    post:
      summary: Add a new group
      description: Add a new group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_addGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: group
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatormail_group"
          
      responses:
        "200":
          description: OK
          schema:
             $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
             
    patch:
      summary: Update a group
      description: Update a group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_updateGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: group
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatormail_group"
          
      responses:
        "200":
          description: OK
          schema:
             $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/group/{groupId}:            
    delete:
      summary: Delete a group
      description: Delete a group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_deleteGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: description
          required: true
          type: integer
          format: int32
          
          
      responses:
        "200":
          description: OK
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
          
  /mail/{landingZone}/group/contact/{contactId}:            
    get:
      summary: Get Groups for Contact
      description: Get Groups for Contact
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_contactGroups
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: contactId
          in: path
          description: description
          required: true
          type: integer
          format: int32
                    
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
              
  /mail/{landingZone}/group/{groupId}/contacts/included/{page}/{take}?attributes:            
    get:
      summary: Gets contacts included in a Group
      description: Gets contacts included in a Group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_groupIncludedContacts
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: the group for which to retrieve included contacts for
          required: true
          type: integer
          format: int32
        - name: page
          in: path
          description: the page of contacts to retrieve
          required: true
          type: integer
          format: int32          
        - name: take
          in: path
          description: the count of records to retrieve
          required: true
          type: integer
          format: int32 
        - name: attributes
          in: query
          description: comma separated list of attributes to populate in the response. If none provided email, firstname and lastname are populated
          required: false
          type: string
                    
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/gatormail_pagedContact"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  /mail/{landingZone}/group/{groupId}/contacts/included:            
    post:
      summary: Include a list of contacts to a Group
      description: Add a list of contacts to a Group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_groupIncludedContactpost
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: the group for which to retrieve included contacts for
          required: true
          type: integer
          format: int32
        - name: group
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatormail_groupContactRequest"
                    
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/gatormail_groupContactResponse"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
            
  /mail/{landingZone}/group/{groupId}/contacts/excluded:            
    post:
      summary: Exclude a list of contacts from a Group
      description: Remove a list of contacts from a Group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_groupExcludedContactpost
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: the group for which to retrieve included contacts for
          required: true
          type: integer
          format: int32
        - name: group
          in: body
          required: true
          schema:
            $ref: "#/definitions/gatormail_groupContactRequest"
                    
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/gatormail_groupContactResponse"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
              
  /mail/{landingZone}/group/{groupId}/contact/{contactId}:            
    patch:
      summary: Add contact to a group
      description: Add contact to a group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_addContactToGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: description
          required: true
          type: integer
          format: int32
        - name: contactId
          in: path
          description: description
          required: true
          type: integer
          format: int32
          
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
      
    delete:
      summary: Remove contact from a group
      description: Remove contact from a group
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_deleteContactFromGroup
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: groupId
          in: path
          description: description
          required: true
          type: integer
          format: int32
        - name: contactId
          in: path
          description: description
          required: true
          type: integer
          format: int32
          
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_group"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/contact:
    post:
      summary: Add Contact
      description: Create a new contact
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getContactsCreate
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: entity
          in: body
          description: contact to add
          required: true
          schema:
            $ref: "#/definitions/gatormail_contactCreate"
    
      responses:
        "200":
          description: List of contacts that match the search field and value supplied
          schema:
            $ref: "#/definitions/gatormail_contact"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
    patch:
      summary: Update Contact
      description: Update an existing contact
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getContactsUpdate
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: entity
          in: body
          description: Contact to update
          required: true
          schema:
            $ref: "#/definitions/gatormail_contact"
    
      responses:
        "200":
          description: List of contacts that match the search field and value supplied
          schema:
            $ref: "#/definitions/gatormail_contact"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel' 
            
  /mail/{landingZone}/contact/{email}:
    get:
      summary: Get contacts by email
      description: Gets List of `Email` objects with the supplied email address
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getContactsEmail
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: email
          in: path
          type: string
          required: true
          description: the email address for the contacts
          
      responses:
        "200":
          description: List of contacts that match the email address supplied
          schema:
            $ref: "#/definitions/gatormail_contact"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
            
  /mail/{landingZone}/contact/search/{page}/{take}:
    post:
      summary: Get contacts by search fileds
      description: Get a list of contact that match the search field and value supplied
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getContactsSearch
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many contact to return per page
          format: int32
        - name: entity
          in: body
          description: the field and its value that you wish to search by
          required: true
          schema:
            $ref: "#/definitions/gatormail_groupContactsParam"
            
      responses:
        "200":
          description: List of contacts that match the email address supplied
          schema:
            $ref: "#/definitions/gatormail_pagedContact"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
            
  /mail/{landingZone}/contact/triggercampaign:
    post:
      summary: Add/Update Contacts list, trigger Campaign
      description: Add/Update a list of contact then trigger a campaign to send to them the campaign must be initiated. 
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_postTriggerCampaign
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: Campaign Contacts
          in: body
          description: Campaign information and list of contacts
          required: true
          schema:
            $ref: "#/definitions/gatormail_campaignContacts"
            
      responses:
        "200":
          description: Ok
          schema:
            $ref: '#/definitions/gatormail_campaignTrigger'
            
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/contact/attribute/{page}/{take}:
    get:
      summary: Get contact attributes
      description: Geta a paged list of attributes
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getContactAttributes
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many attributes to return per page
          format: int32
            
      responses:
        "200":
          description: Ok
          schema:
            $ref: '#/definitions/gatormail_pagedContactAttribute'
            
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
            
  /mail/{landingZone}/email/{page}/{take}:
    get:
      summary: Get emails
      description: Get a paged list of emails
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getEmailList
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          type: integer
          required: true
          description: the page to get
          format: int32
        - name: take
          in: path
          type: integer
          required: true
          description: how many Emails to return per page
          format: int32
            
      responses:
        "200":
          description: Ok
          schema:
            $ref: '#/definitions/gatormail_pagedEmails'
            
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
  
  /mail/{landingZone}/integration/requests:
    get:
      summary: Get Integration Requests
      description: Returns all requests made by GatorMail users for actions it wishes the integration to perform
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getIntegrationRequests
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
          
      responses:
        "200":
          description: Returns all requests made by GatorMail users for actions it wishes the integration to perform
          schema:
              type: array
              items:
                $ref: "#/definitions/gatormail_integrationRequests" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/integration/requests/{request}:
    patch:
      summary: Marks a request satisfied.
      description: Marks a request made by a GatorMail user as satisfied.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getIntegrationRequestSatisfied
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: request
          in: path
          description: the request to mark satisfied
          required: true
          type: string
          enum:
            - schemamappingsMappingsPublished
            - schemamappingsRequested

      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/schemamappings:
    get:
      summary: Returns the user generated schema mappings.
      description: Returns the user generated schema mappings. Support is provided though the use of the linkedEntity, entityLinkAttribute, linkedEntityLinkAttribute columns to define a one to one relationship between two entities (e.g contact -> account to retrieve an account name).
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getSchema
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string

      responses:
        "200":
          description: Ok
          schema:
            type: array
            items:
              $ref: "#/definitions/gatormail_schema"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
          
    delete:
      summary: Clears all schema entities and attributes.
      description: Clears all schema entities and attributes.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_deleteSchema
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string

      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/schemamappings/entity:
    post:
      summary: Creates a schema entity record.
      description: Creates a schema entity record.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_postSchemaEntity
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: entity
          in: body
          description: the schema entity to add
          required: true
          schema:
            $ref: "#/definitions/gatormail_schemaEntity" 

      responses:
        "200":
          description: Ok
        "409":
          description: Schema Entity Attribute already exists
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/schemamappings/attribute:
    patch:
      summary: Creates a schema entity attribute record.
      description: Creates a schema entity attribute record.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_postSchemaAttribute
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: attribute
          in: body
          description: the schema attribute to add
          required: true
          schema:
            $ref: "#/definitions/gatormail_schemaAttribute" 

      responses:
        "200":
          description: Ok
        "404":
          description: Schema Entity does not exist
        "409":
          description: Schema Entity Attribute already exists
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/datafeed:
    get:
      summary: Returns a batch of data feed records.
      description: Returns a batch of data feed records.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getDatafeed
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
          
      responses:
        "200":
          description: Returns data feed configuration options.
          schema:
            $ref: "#/definitions/gatormail_datafeed" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/datafeed/{batchIdentifier}:
    patch:
      summary: Marks a feed as processed.
      description: Marks a feed as processed.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getDatafeedBatchIdentifier
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: batchIdentifier
          in: path
          description: the batchIdentifier of the feed
          required: true
          type: string
          
      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/datafeed/options:
    get:
      summary: Gets the data feed configuration options.
      description: Gets the data feed configuration options.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getDatafeedOptions
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
          
      responses:
        "200":
          description: Returns data feed configuration options.
          schema:
            $ref: "#/definitions/gatormail_datafeedOptions" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

    post:
      summary: Sets the data feed configuration options.
      description: Sets the data feed configuration options.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_postDatafeedOptions
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: options
          in: body
          description: The data feed options to set
          required: true
          schema:
            $ref: "#/definitions/gatormail_datafeedOptions" 
          
      responses:
        "200":
          description: Returns data feed configuration options.
          schema:
            $ref: "#/definitions/gatormail_datafeedOptions" 
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/events/{eventId}:
    get:
      summary: Gets event for the given id.
      description: Gets event for the given id.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getEventById
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: eventId
          in: path
          description: the id of the event
          required: true
          type: integer
          format: int64
          
      responses:
        "200":
          description: Returns the requested event
          schema:
            $ref: "#/definitions/gatormail_event"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/events/{page}/{take}:
    get:
      summary: Get all events
      description: Gets all the events
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_getEventPaged
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: page
          in: path
          description: the page to retrive
          required: true
          type: integer
          format: int64
        - name: take
          in: path
          description: how many events to retrive per page
          required: true
          type: integer
          format: int64
          
      responses:
        "200":
          description: Returns the requested event
          schema:
            $ref: "#/definitions/gatormail_pagedEvent"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/events:
    post:
      summary: Creates an event management event
      description: Creates an event management event, associating it with an event entity in the CRM.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_postEvent
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: event
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_event"
          
      responses:
        "200":
          description: Returns the created event.
          schema:
            $ref: "#/definitions/gatormail_event"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'

  /mail/{landingZone}/log/error:
    post:
      summary: Creates error record
      description: Creates an record in the integration error table or updates if a matching error already exists.
      security:
        - client_application:
            - openid
            - GatorMailApi
            - offline_access
      operationId: gatormail_postLogError
      tags:
        - Gator Mail
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: landingZone
          in: path
          description: the landing zone that is being accessed
          required: true
          type: string
        - name: log
          in: body
          required: true
          schema: 
            $ref: "#/definitions/gatormail_errorLog"
          
      responses:
        "200":
          description: Ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/gatormail_errorModel'
            
  /leads/clients:
    get:
      summary: Gets your client accounts
      description: Gets your client accounts
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_userclients
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        
      responses:
        "200":
          description: Returns a list of clients
          schema:
            type: array
            items:
              $ref: "#/definitions/gatorleads_userclient"  
              
  /leads/clients/{clientId}:
    get:
      summary: Gets the client using the supplied Client Id
      description: Gets the client using the supplied Client Id
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_userclient
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"          
        
      responses:
        "200":
          description: Returns the client
          schema:
            $ref: "#/definitions/gatorleads_client"        

  /leads/client/{clientId}/leads/types:
    get:
      summary: Get Count Of Lead Types
      description: Returns count of all the lead types
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_leadtypes
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
          
      responses:
        "200":
          description: Returns lead type counts
          schema:
            $ref: "#/definitions/gatorleads_leadtypes"

  /leads/client/{clientId}/company/{leadid}:
    get:
      summary: Get lead company
      description: Returns the company details about a lead
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_lead_company
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: leadid
          in: path
          type: string
          required: true
          description: this id of the lead. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
          
      responses:
        "200":
          description: Returns the requested leads company details
          schema:
            $ref: "#/definitions/gatorleads_company"
            
  /leads/client/{clientId}/latestleads/{minutes}/{numberToGet}:
    get:
      summary: Get The Leads for last x Minutes
      description: 'Returns all leads from the last x minutes (max: 60)'
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_latestleads
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: minutes
          in: path
          type: integer
          format: int64
          required: true
          description: number of minutes
        - name: numberToGet
          in: path
          type: integer
          format: int64
          required: true
          description: how many to get
          
      responses:
        "200":
          description: Returns list of leads
          schema:
            $ref: "#/definitions/gatorleads_leads"

  /leads/client/{clientId}/leads/{type}/{startDate}/{endDate}/{page}/{take}:
    get:
      summary: Get Leads of specified type for the date range
      description: Gets a pages list of leads for specified date range and type
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_pagedLead_daterange
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: type
          in: path
          type: string
          required: true
          description: type of lead
        - name: startDate
          in: path
          type: string
          required: true
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
          description: start date
        - name: endDate
          in: path
          type: string
          required: true
          description: end date
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
        - name: page
          in: path
          description: the page to get
          required: true
          type: integer
        - name: take
          in: path
          description: the number of results to get
          required: true
          type: integer
          
      responses:
        "200":
          description: Returns paged list of leads
          schema:
            $ref: "#/definitions/gatorleads_pagedLead"

  /leads/client/{clientId}/leads/{type}/search/{startDate}/{endDate}/{page}/{take}:
    post:
      summary: Get Leads of specified type for the date range
      description: Gets a pages list of leads for specified date range and type
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_pagedLead_daterange_search
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: type
          in: path
          type: string
          required: true
          description: type of lead
        - name: startDate
          in: path
          type: string
          required: true
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
          description: start date
        - name: endDate
          in: path
          type: string
          required: true
          description: end date
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
        - name: page
          in: path
          description: the page to get
          required: true
          type: integer
          format: int64
        - name: take
          in: path
          description: the number of results to get
          required: true
          type: integer
          format: int64
        - name: search
          in: body
          schema:
            $ref: "#/definitions/gatorleads_leadSearch"
      responses:
        "200":
          description: Returns paged list of leads
          schema:
            $ref: "#/definitions/gatorleads_pagedLead"
    
  /leads/client/{clientId}/leads/search/{types}/{page}/{take}:
    post:
      summary: Get Leads of specified type for the date range
      description: Gets a pages list of leads for specified date range and type
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_pagedLead_types_daterange_search
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: types
          in: path
          type: string
          required: true
          description: comma separated list of lead types to return 
        - name: startDate
          in: query
          type: string
          required: true
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
          description: start date
        - name: endDate
          in: query
          type: string
          required: true
          description: end date
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
        - name: page
          in: path
          description: the page to get
          required: true
          type: integer
          format: int64
        - name: take
          in: path
          description: the number of results to get
          required: true
          type: integer
          format: int64
        - name: search
          in: body
          schema:
            $ref: "#/definitions/gatorleads_leadSearch"
      responses:
        "200":
          description: Returns paged list of leads
          schema:
            $ref: "#/definitions/gatorleads_pagedLead"

  /leads/client/{clientId}/lead/{leadId}:
    get:
      summary: Get Leads of specified type for the date range
      description: Gets a pages list of leads for specified date range and type
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_lead
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: leadId
          in: path
          type: string
          required: true
          description: the id of the lead to return. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        
      responses:
        "200":
          description: Returns paged list of leads
          schema:
            $ref: "#/definitions/gatorleads_lead"
      
  /leads/client/{clientId}/purl/create:
    post:
      summary: Creates a PURL for the supplied client
      description: Creates a PURL for the supplied client
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_createpurl
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"          
        
      responses:
        "200":
          description: Returns the purl
          schema:
            $ref: "#/definitions/gatorleads_purl"   
      
  /leads/client/{clientId}/trackedlinks/{take}:
    get:
      summary: Get tracked links from the queue
      description: Get tracked links from the queue
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_trackedlinkList
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: take
          in: path
          type: integer
          format: int64
          required: true
          description: number of tracked links to take
        
      responses:
        "200":
          description: Returns list of tracked links
          schema:
            $ref: "#/definitions/gatorleads_queuedlinkList"
            
  /leads/client/{clientId}/analytics/contactsdailyconnections?startDate={startDate}:
   get:
      summary: Get a daily list that counts the unique number of contacts that connected to the given client
      description: Get a daily list that counts the unique number of contacts that connected to the given client
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_contactsDailyConnections
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: startDate
          in: path
          type: string
          required: true
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
          description: start date        
      
      responses:
        "200":
          description: Returns a list of daily connections for distinct contacts
          schema:
            type: array
            items:
              $ref: "#/definitions/gatorleads_contactsdailyconnections"
              
  /leads/client/{clientId}/analytics/companydailyconnections?startDate={startDate}:
   get:
      summary: Get a daily list that counts the unique number of companies that connected to the given client
      description: Get a daily list that counts the unique number of companies that connected to the given client
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_companyDailyConnections
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: startDate
          in: path
          type: string
          required: true
          pattern: '^(?:[2-9]\d\d\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\d|0?[1-9]))T(2[01234]|[01]\d):[0-5]\d:[0-5]\d'
          description: start date        
      
      responses:
        "200":
          description: Returns a list of daily connections for distinct companies
          schema:
            type: array
            items:
              $ref: "#/definitions/gatorleads_companydailyconnections" 
              
  /leads/client/{clientId}/trackedlinks/markprocessed/{processId}:
   get:
      summary: Marks tracked links previously retrieved as processed
      description: Marks tracked links previously retrieved as processed
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_markTrackedLinksProcessed
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
        - name: processId
          in: path
          type: string
          required: true
          description: the process id returned from a call to "client/{clientId}/trackedlinks/{take}"". **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
      
      responses:
        "200":
          description: Returns a boolean value indicating the success status
          schema:
            type: boolean
      
  /leads/settings/leadtypes:
   get:
      summary: Gets the lead types
      description: Gets the lead types
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_leadTypes
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
      
      responses:
        "200":
          description: Returns an array of lead types
          schema:
            type: array
            items:
              type: string
              
  /leads/settings/leadtypenames/{clientId}:
   get:
      summary: Gets the lead type names and their visibility status
      description: Gets the lead type names and their visibility status
      security:
        - client_application:
            - openid
            - GatorLeadApi
            - offline_access
      operationId: gatorlead_leadTypeNames
      tags:
        - Gator Leads
      parameters:
        - name: api-version
          in: header
          description: the api version being requested
          required: true
          type: integer
        - name: clientId
          in: path
          type: string
          required: true
          description: the id of the client. **This is a GUID**
          pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"          
      
      responses:
        "200":
          description: Returns the type names as an object
          schema:
            $ref: "#/definitions/gatorleads_leadTypeNames"
      
definitions:

  model_error:
    type: object
    properties:
      message:
        type: string
        description: error message. (normally "The request is invalid.")
      modelState:
        type: array
        items:
          $ref: "#/definitions/model_errorState"
    example:
      message: The request is invalid.
      modelState:
        products.gatorLeads.Email:
        - The Email field is not a valid e-mail address.
        email:
        - Unfortunately, you cannot register with this domain. Error checking domain. Please
          make sure you use your corporate email address. If you need further assistance
          please contact a support representative.

  model_errorState:
    required:
      - default
    properties:
      default:
        type: string
      additionalProperties:
        type: array
        items:
          type: string
  
  gatorsignon_CreateAccount:
    type: object
    required:
      - firstName
      - lastName
      - email
      - companyName
      - contactNumber
      - products
    properties:
      firstName:
        type: string
        description: Forename of the user to add
      lastName:
        type: string
        description: Surname of the user to add
      email:
        type: string
        format: email
        description: Email Address of the user to add (this is the same as the login username). **Can't be a free email provider and domain must exist with MX records**
      companyName:
        type: string
        description: The name of the company that the user belongs too. This is used to group users into the same company
      contactNumber: 
        type: string
        description: The contact number for the user
      sendEmail:
        type: boolean
        description: Should any emails be sent to the user on creation. *e.g. activation emails, registraction emails*
      activate:
        type: boolean
        description: Should the user account be activated
      products:
        $ref: "#/definitions/gatorsignon_products"
    example:
      firstName: Joe
      lastName: Blogs
      email: joe.blogs@example.com
      companyName: Example Ltd
      contactNumber: 020 2349455
      activate: true
      products:
        gatorLeads:
          domain: example.com
          registerUpsell:
            trackingQueue: true
      
  gatorsignon_products:
    type: object
    required:
      - gatorLeads
    description: The products that can be created
    properties:
      gatorLeads:
        $ref: "#/definitions/gatorsignon_gatorLeads"
        
  gatorsignon_gatorLeads:
    type: object
    required:
      - domain
      - registerUpsell
    description: The GatorLead details
    properties:
      domain: 
        type: string
        description: The domain to be tracked without the schema
      registerUpsell: 
        $ref: "#/definitions/gatorsignon_registerUpsell"
    example:
      domain: example.com
      
  gatorsignon_registerUpsell:
    type: object
    properties:
      trackingQueue: 
        type: boolean
        description: Should the tracking queue be enabled
    example:
      trackingQueue: true
  
  gatorsignon_createResponse:
    type: object
    properties:
      isNewUser:
        type: boolean
        description: is the user a new user, or existing
      registrationEmailSent:
        type: boolean
        description: was a registration email sent
      password:
        type: string
        description: the auto generated password. If the user already existed this will be blank
      gatorLeadsDetails:
        $ref: "#/definitions/gatorsignon_gatorLeadsDetails"
    example:
      isNewUser: true
      registrationEmailSent: false
      password: "<bU%=]nViC<BViI"
      gatorLeadsDetails:
        registrationEmailSent: true
        passwordResetSent: false
        isNewUser: true
        clientDetails:
          id: d585c216-af40-437d-8a20-d9ba9004e7f9
          name: Leasoftware Sample (sample3.leasoftware.net)
          accountExpiry: 
          trackingScript: "<script data-cfasync='false' type='text/javascript' defer=''
            async='' src='http://test-t.gatorleads.co.uk/Scripts/d585c216-af40-437d-8a20-d9ba9004e7f9.js'></script>"
          trackingScriptSsl: "<script data-cfasync='false' type='text/javascript' defer=''
            async='' src='https://test-t.gatorleads.co.uk/Scripts/ssl/d585c216-af40-437d-8a20-d9ba9004e7f9.js'></script>"
          domains:
          - sample3.leasoftware.net

  gatorsignon_gatorLeadsDetails:
    type: object
    properties:
      registrationEmailSent:
        type: boolean
        description: was the GatorLeads registration email sent
      isNewUser:
        type: boolean
        description: is this a new GatorLeads user. If it was an existing user, that user will now be linked to Gator Single Signon
      clientDetails:
        $ref: "#/definitions/gatorsignon_gatorLeadsClient"
      
  gatorsignon_gatorLeadsClient:
    type: object
    properties:
      id:
        type: string
        description: the id of the client. **This is a GUID**
        pattern: "/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i"
      name:
        type: string
        description: name of the client created in GatorLeads
      accountExpiry:
        type: string
      trackingScript:
        type: string
        description: this is the tracking script to use for http
      trackingScriptSsl:
        type: string
        description: this is the tracking script to use for https
      domains:
        type: array
        items:
          type: string
        description: the registered domains for this client
        
  gatormail_datafeed:
    type: object
    properties:
      emailOpen:
        type: array
        items:
          $ref: "#/definitions/gatormail_emailOpen"
      landingZoneHit:
        type: array
        items:
          $ref: "#/definitions/gatormail_landingZoneHit"
      surveyCompleted:
        type: array
        items:
          $ref: "#/definitions/gatormail_surveyCompleted"
      download:
        type: array
        items:
          $ref: "#/definitions/gatormail_download"
      webHit:
        type: array
        items:
          $ref: "#/definitions/gatormail_webHit"
      unsubscribe:
        type: array
        items:
          $ref: "#/definitions/gatormail_unsubscribe"
      emailSent:
        type: array
        items:
          $ref: "#/definitions/gatormail_emailSent"
      surveyAnswer:
        type: array
        items:
          $ref: "#/definitions/gatormail_surveyAnswer"
      eventBooked:
        type: array
        items:
          $ref: "#/definitions/gatormail_eventBooked"
      eventAttended:
        type: array
        items:
          $ref: "#/definitions/gatormail_eventAttended"
      bounces:
        type: array
        items:
          $ref: "#/definitions/gatormail_bounces"
      sendToAFriend:
        type: array
        items:
          $ref: "#/definitions/gatormail_sendToAFriend"
      eventCancelled:
        type: array
        items:
          $ref: "#/definitions/gatormail_eventCancelled"
      newLead:
        type: array
        items:
          $ref: "#/definitions/gatormail_newLead"
      entityUpdate:
        type: array
        items:
          $ref: "#/definitions/gatormail_entityUpdate"
      campaignStatistics:
        type: array
        items:
          $ref: "#/definitions/gatormail_campaignStatistics"
      batchIdentifier:
        type: array
        items:
          type: string
          description: id of the feed pulled, this is a GUID

  gatormail_emailOpen:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      CRMCampaignId:
        type: string
      url:
        type: string

  gatormail_landingZoneHit:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string

  gatormail_surveyCompleted:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_download:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_webHit:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_unsubscribe:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string

  gatormail_emailSent:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_surveyAnswer:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      surveryId:
        type: integer
        format: int64
      surveyQuestion:
        type: string
      surveyAnswer:
        type: string
        
  gatormail_eventBooked:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_eventAttended:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_bounces:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_sendToAFriend:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
        
  gatormail_eventCancelled:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_newLead:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      cRMCampaignId:
        type: string
      url:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      companyName:
        type: string
        
  gatormail_entityUpdate:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      description:
        type: string
      gatorMailContactId:
        format: int32
        type: integer
      entityId:
        type: string
      entityType:
        type: string
      emailAddress:
        type: string
      campaignName:
        type: string
      gatorMailCampaignId:
        type: string
      crmCampaignId:
        type: string
      url:
        type: string
      fieldValue:
        type: string 
      mappingSet:
        type: string
      gatorMailAttribute:
        type: string
      entity:
        type: string
      entityAttribute:
        type: string
      entityAttributeDataType:
        type: string
      linkedEntity:
        type: string
      entityLinkAttribute:
        type: string
      linkedEntityLinkAttribute:
        type: string

  gatormail_campaignStatistics:
    type: object
    properties:
      createdOn:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      dateInitiated:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      refreshDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      refreshPeriod:
        format: int32
        type: integer
      countTotalSend:
        format: int32
        type: integer
      countInitialSend:
        format: int32
        type: integer
      countFollowupSend:
        format: int32
        type: integer
      countTriggeredSend:
        format: int32
        type: integer
      countReferralsSend:
        format: int32
        type: integer 
      countTotalUniqueUserSend:
        format: int32
        type: integer
      countTotalUndelivered:
        format: int32
        type: integer
      countEmailsFailedToSend:
        format: int32
        type: integer
      countTotalUniqueUserUndelivered:
        format: int32
        type: integer 
      countDelivered:
        format: int32
        type: integer 
      countTotalDelivered:
        format: int32
        type: integer
      countTotalUniqueUserDelivered:
        format: int32
        type: integer
      countTotalOpens:
        format: int32
        type: integer 
      countTotalEmailsNotOpened:
        format: int32
        type: integer
      countTotalUniqueUserNotOpened:
        format: int32
        type: integer 
      countTotalUniqueUserOpens:
        format: int32
        type: integer 
      countTotalUniqueUserMobileOpens:
        format: int32
        type: integer
      countTotalClicks:
        format: int32
        type: integer
      countLandingZoneClicks:
        format: int32
        type: integer 
      countWebDownloadClicks:
        format: int32
        type: integer 
      countSurveyClicks:
        format: int32
        type: integer 
      countCalendarAppointments:
        format: int32
        type: integer 
      countTotalUniqueUserClicks:
        format: int32
        type: integer 
      countTotalUniqueUserMobileClicks:
        format: int32
        type: integer 
      countSendToAFriend:
        format: int32
        type: integer
      countUnsubscribes:
        format: int32
        type: integer
      countComplaints:
        format: int32
        type: integer
      countOtherBounces:
        format: int32
        type: integer
      countAutoresponder:
        format: int32
        type: integer
      countEmailRating:
        format: int32
        type: integer
      clickToOpenRate:
        format: int32
        type: integer
      countSocial:
        format: int32
        type: integer 
      countWebHits:
        format: int32
        type: integer

  gatormail_errorLog:
    type: object
    required:
    - error
    - createdDate
    properties:
      error:
        type: string
      createdDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"

  gatormail_errorModel:
    type: object
    required:
    - message
    properties:
      message:
        type: string

  gatormail_campaignType:
    type: object
    enum: [
        "Static",
        "RefreshRecurring",
        "RefreshNonRecurring",
        "StaticRecurring",
        "Followup"
        ]

  gatormail_integrationRequests:
    type: object
    enum: [
      "SchemaMappingsPublished",
      "SchemaRequested"
    ]
  
  gatormail_event:
    type: object
    required:
      - name
      - description
      - title
      - startDate
      - endDate
      - crmId
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      description:
        type: string
      title:
        type: string 
      startDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      endDate:
        type: string
        description: Date in GMT yyyy-mm-ddT00:00:00
        pattern: "^(?:[2-9]\\d\\d\\d)-(?:1[012]|0?[1-9])?-(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:T))|(?:2[0-8]|1\\d|0?[1-9]))T(2[01234]|[01]\\d):[0-5]\\d:[0-5]\\d"
      crmId:
        type: string

  gatormail_pagedEvent:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/gatormail_event"
      pageCount:
        format: int32
        type: integer
      totalItemCount:
        format: int32
        type: integer
      pageIndex:
        format: int32
        type: integer
      pageNumber:
        format: int32
        type: integer
      pageSize:
        format: int32
        type: integer
      hasPreviousPage:
        type: boolean
      hasNextPage:
        type: boolean
      isFirstPage:
        type: boolean
      isLastPage:
        type: boolean
      firstItemOnPage:
        format: int32
        type: integer
      lastItemOnPage:
[...]
